<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohe.mapper.ArticleMapper">

    <select id="getArticleByViewCount" resultType="com.xiaohe.domain.vo.HotArticle">
        select id, title, view_count
        from article
        where status = 0 and view_count != 0
        order by view_count desc
        limit 0,10;
    </select>
</mapper>