<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohe.mapper.MenuMapper">

<!-- 返回角色对应的权限信息-->
    <select id="selectPermissionByRoleId" resultType="java.lang.String">
        select menu.perms
        from role_menu as role_menu left join menu as menu
                                                  on role_menu.menu_id = menu.id
        where role_menu.role_id = #{id};
        and menu.menu_type in ('C', 'F');
    </select>

<!--    查找管理员的routers-->
    <select id="selectAllRouters" resultType="com.xiaohe.domain.entity.Menu">
        SELECT DISTINCT m.id, m.parent_id, m.menu_name, m.path, m.component, m.visible, m.status, IFNULL(m.perms,'') AS perms, m.is_frame, m.menu_type, m.icon, m.order_num, m.create_time
        FROM `menu` m
        WHERE m.`menu_type` IN ('C','M') AND m.`status` = 0 AND m.`del_flag` = 0
        ORDER BY m.parent_id,m.order_num
    </select>
    <!--    根据用户id查询routers-->
    <select id="selectRoutersByUserId" resultType="com.xiaohe.domain.entity.Menu">
        SELECT DISTINCT m.id, m.parent_id, m.menu_name, m.path, m.component, m.visible, m.status, IFNULL(m.perms,'') AS perms, m.is_frame, m.menu_type, m.icon, m.order_num, m.create_time
        FROM `user_role` ur
            LEFT JOIN `role_menu` rm ON ur.`role_id` = rm.`role_id`
            LEFT JOIN `menu` m ON m.`id` = rm.`menu_id`
        WHERE ur.`user_id` = #{id} AND m.`menu_type` IN ('C','M') AND m.`status` = 0 AND m.`del_flag` = 0
        ORDER BY m.parent_id,m.order_num
    </select>
<!--    根据角色id查询权限-->
    <select id="selectPermsByUserId" resultType="java.lang.String">
        SELECT
            m.perms
        FROM
            `user_role` ur
                LEFT JOIN `role_menu` rm ON ur.`role_id` = rm.`role_id`
                LEFT JOIN `menu` m ON m.`id` = rm.`menu_id`
        WHERE
              <if test="userId != 1">
                  ur.`user_id` = #{userId} AND
              </if>

            m.`menu_type` IN ('C','F') AND
            m.`status` = 0 AND
            m.`del_flag` = 0
    </select>



</mapper>