<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohe.mapper.RoleMapper">


    <select id="selectRoleByUserId" resultType="com.xiaohe.domain.entity.Role">
        select role.*
        from user_role user_role left join role as role
                                               on role.id = user_role.role_id
        where user_role.user_id = #{id};
    </select>
    <select id="selectRoleKeyByUserId" resultType="java.lang.String">
        select role.role_key
        from user_role user_role left join role as role
                                               on role.id = user_role.role_id
        where user_role.user_id = #{id};
    </select>
</mapper>