<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohe.mapper.TagMapper">
    <resultMap type="java.lang.Integer" id="count">
        <result column="total"/>
    </resultMap>

<!--    <select id="getTagList" resultType="com.xiaohe.domain.entity.PageVo">-->
<!--        select SQL_CALC_FOUND_ROWS tag.*-->
<!--        from tag-->
<!--        <where>-->
<!--            <if test="name != null and name!= ''">-->
<!--                and name like concat('%', #{name}, '%')-->
<!--            </if>-->
<!--            <if test="remark != null and remark != ''">-->
<!--                and remark like concat('%', #{remark}, '%')-->
<!--            </if>-->
<!--        </where>-->
<!--        limit #{begin},#{pageSize};-->
<!--        SELECT FOUND_ROWS() AS total;-->
<!--    </select>-->
</mapper>